.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login-container form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 80px;
  width: 40%;
}

.login-container form h1 {
  text-align: center;
}

.login-container form label {
  margin-top: 24px;
}

.login-container form input {
  border-bottom: 2px solid rgb(34, 34, 34);
  padding: 8px;
  width: 100%;
}

.login-container form button {
  background-color: rgb(251, 192, 4);
  margin-top: 24px;
  padding: 16px;
}
